.box {
    border: 1px solid black;
    box-sizing: border-box;
}

.newBoxColor {
    background-color: black;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
    border: 1px solid black;
}
