.box {
    border: 1px solid black;
    box-sizing: border-box;
    width: 10px;
    height: 10px;
}

.newBoxColor {
    background-color: black;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 160px;
    height: 160px;
}